.aanvragen{
    margin-bottom: 4em;
}

.aanvragen .reizen-lijst {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem; 
    
    margin: 0 auto;
    padding: 2rem;
    list-style: none;
}

.aanvragen .reizen-lijst > li {
    width: 100%;
}

.aanvragen h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.aanvragen section > p{
    text-align: center;
    font-size: larger;
    margin: 1em;
}