/*****************************/
/* Filters */
/*****************************/

.home > section:first-of-type{
    transition: all 500ms ease;
    overflow: hidden;
}

.home > section:first-of-type:has(#filtersUitklappen:not(:checked)){
    max-height: 0;
}

.home > section:first-of-type:has(#filtersUitklappen:checked){
    max-height: 100vh;
}

.home #filtersUitklappen{
    display: none;
}

.home form fieldset{
    border: none;
    padding: 0;
}

.home form legend{
    font-weight: bold;
}

/*****************************/
/* Reis cards */
/*****************************/

.home > section:last-of-type{
    display: grid;
    grid-template: auto auto auto / auto;
    background-color: var(--color-surface-2);
    border-radius: 2em;
    overflow: hidden;
    box-shadow: inset 0 0 1em black;
}