.reisAanmaken{
    min-height: 100%;
}

.reisAanmaken h1, .reisAanmaken > p{
    text-align: center;
}

.reisAanmaken form{
    margin: auto;
    width: clamp(10em, 50em, 90%);
    border-radius: 1em;
}

.reisAanmaken form fieldset{
    box-sizing: border-box;
    scroll-snap-align: center;
    padding-top: 2em;
    margin-top: 2em;
    border-radius: 1em;
    border: 0.1em solid var(--color-surface-4);
}

.reisAanmaken form .formNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
}