.reisBewerken{
    padding: 0 1em 2em 1em;
    margin: 0 auto;
    display: flex;
    gap: 2em;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
}

.reisBewerken fieldset{
    border-radius: 1em;
    border: 0.1em solid var(--color-surface-4);
    margin-bottom: 1em;
    padding: 1em;
}

.reisBewerken legend{
    font-size: larger;
    padding: 0 0.5em;
}

.reisBewerken fieldset:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}