.reiskaartGroot{
    min-width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    height: fit-content;
}

.reiskaartGroot article{
    max-width: 50em;
    margin: auto;
}

.reiskaartGroot article > img{
    max-width: 100%;
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-radius: 2em 2em 1em 1em;
}

.reiskaartGroot div div:has(#reisUitklappen:not(:checked)) p{
    display: none;
}

.reiskaartGroot div #reisUitklappen{
    display: none;
}

.reiskaartGroot .button2::after{
    content: "▼";
    font-size: 0.8em;
    margin-left: 0.5em;
}

.home:has(#reisUitklappen:checked) .button2::after{
    content: "▲";
}

.reiskaartInhoud{
    padding: 1em;
    background-color: var(--color-surface-1);
    border-radius: 1em 1em 2em 2em;
}

.home:has(#reisUitklappen:checked) section:last-of-type button{
    display: none;
}

.reiskaartGroot #deelnemers{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2em;
    max-width: 100%;
    margin-bottom: 1em;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reiskaartGroot #deelnemers::-webkit-scrollbar{
    display: none;
}

.reiskaartGroot p:last-of-type{
    white-space: pre-line;
}