@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-surface-1: #fffcf2;
    --color-surface-2: #f4f2e7;
    --color-surface-3: #31494b;
    --color-surface-4: #738b8d;
    --color-text-1: black;
    --color-text-2: #31494b;
    --color-text-3: #fffcf2;
    --color-accent-1: #ff6f61;
}

@media (prefers-color-scheme: dark) {
    :root{
        --color-surface-1: #2a2f2f;
        --color-surface-2: #212424;
        --color-surface-3: #fffcf2;
        --color-surface-4: #4f5757;
        --color-text-1: #fffcf2;
        --color-text-2: #becfd1;
        --color-text-3: #31494b;
        --color-accent-1: #ff6f61;
    }
}

*{
    color: var(--color-text-1);
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    background-color: var(--color-surface-1);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: var(--color-text-1);
}

h1, h2, h3, h4, h5, h6, header{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text-2);
    margin: 0;
}

@media only screen and (max-width: 769px){
    h1, main > p, legend{
        text-align: center;
    }
}

a, p, svg, svg *{
    color: inherit;
}

::selection {
    background: var(--color-accent-1);
    color: var(--color-text-3);
}

.hidden{
    display: none;
}

/*****************************/
/* Chips */
/*****************************/

.chipToggle, .chipRadio, .chipsInfo li{
    display: inline-block;
    border: 0.1em solid var(--color-surface-3);
    border-radius: 50em;
    padding: 0.2em 0.6em;
    transition: all 200ms ease;
    margin: 0 0.2em 0.5em 0;
}

.chipsInfo li{
    border: 0.1em solid var(--color-surface-4);
}

.chipToggle:hover, .chipRadio:hover, .chipVerwijderbaar:hover{
    background-color: var(--color-surface-2);
}

.chipToggle:has(input:checked), .chipRadio:has(input:checked){
    background-color: var(--color-surface-3);
    color: var(--color-text-3);
}

.chipToggle input, .chipRadio input, .chipVerwijderbaar input{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.chipToggle::after {
    content: '✕';
    font-weight: bold;
    display: inline-block;
    opacity: 0;
    max-width: 0;
    margin-left: 0;
    margin-top: -0.3em;
    transition: all 200ms ease;
    overflow: hidden;
    vertical-align: middle;
}

.chipToggle:has(input:checked)::after {
    opacity: 1;
    max-width: 1.5em;
    margin-left: 0.4em;
}

.chipSuggestie, .chipVerwijderbaar{
    list-style-type: none;
    display: inline-block;
    border: 0.1em solid var(--color-surface-3);
    border-radius: 50em;
    padding: 0.2em 0.6em;
    transition: all 200ms ease;
}

.chipSuggestie{
    background-color: var(--color-surface-3);
    color: var(--color-text-3);
    border: 0.1em solid var(--color-surface-3);
}

.chipSuggestie::before{
    content: '+';
    padding-right: 0.4em;
    font-weight: bolder;
}

.chipSuggestie:hover{
    background-color: var(--color-surface-3);
    border: 0.1em solid var(--color-surface-3);
}

.chipVerwijderbaar::after {
    content: '✖';
    padding-left: 0.4em;
    font-size: 0.8em;
}

.chipsInfo{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

/*****************************/
/* Buttons */
/*****************************/

.button{
    display: inline-block;
    background-color: var(--color-accent-1);
    color: var(--color-text-3);
    font-size: 1em;
    border: 0.05em solid var(--color-accent-1);
    border-radius: 2em;
    padding: 0.5em 1em;
    transition: all 200ms ease;
    width: fit-content;
    text-decoration: none;
}

.button:hover{
    border-radius: 0.5em;
}

.button2{
    display: inline-block;
    background-color: var(--color-surface-2);
    color: var(--color-text-1);
    font-size: 1em;
    border: 0.05em solid var(--color-surface-4);
    border-radius: 2em;
    padding: 0.5em 1em;
    transition: all 200ms ease;
    width: fit-content;
    text-decoration: none;
}

.button2:hover{
    border-radius: 0.5em;
}

/*****************************/
/* Inputs and forms */
/*****************************/

button, .button, .button2, .chipToggle, .chipRadio, .chipSuggestie, .chipVerwijderbaar label, .chipVerwijderbaar{
    cursor: pointer;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=date], textarea, select{
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    border: 0.1em solid var(--color-surface-4);
    background-color: var(--color-surface-2);
    color: var(--color-text-1);
    border-radius: 0.5em;
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

input[type=text], input[type=email], input[type=password], textarea{
    width: 100%;
}

textarea{
    resize: vertical;
    min-height: 2.5em;
    max-height: 15em;
}

input[type=number]{
    width: 5em;
}

#togglePassword {
    position: absolute;
    color: var(--color-text-2);
    padding: 1em;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

#togglePassword svg{
    width: 1.5em;
    height: 1.5em;
}

.password-container{
    margin: 0.5em 0 1em 0;
    position: relative;
    width: 100%;
}

.password-container input[type=text], .password-container input[type=password]{
    margin: 0;
}

/* Aanvraag tot deelnemer op organisatorsprofiel */
.aanvragen-container {
    list-style: none;
    width: 100%;
    margin-bottom: 1.5rem;
} 

.aanvragen-container > p {
    font-family: "Protest Riot", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-text-2);
    margin-bottom: 0.55rem;
}

.aanvragen-lijst  {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap !important;
  

    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;

}

.aanvragen-lijst::-webkit-scrollbar {
    display: none;
    padding-left: 0.25rem;
}

.aanvraag-item  {
     flex: 0 0 220px;
    display: flex;
    flex-direction: column;
      align-items: center;
    gap: 0.5rem;

    padding: 0.9rem;
    border-radius: 12px;
    background: var(--color-surface-2);
   scroll-snap-align: start;
} 

.aanvraag-item p {
 margin: 0;
 font-size: 0.90rem;
 font-weight: 500;
} 

.aanvraag-item .button,
.aanvraag-item .button2 {
    width: 80%;
    font-size: 0.85rem;
    padding: 0.35em 0.7em;
}

.geen-aanvragen p {
    margin: 0;
    font-style: italic;
    color: var(--color-text-2);

