/*****************************/
/* Layout */
/*****************************/

body{
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-size: 1em;
    min-height: 100vh;
}

header, body > div{
    padding: 1.5em 0;
    color: var(--color-text-2);
}

header{
    grid-column: 1;
    grid-row: 1;
    padding-left: 1em;
    font-size: 1.2em;
}

main{
    grid-column: 1/4;
    grid-row: 2;
}

body > nav{
    grid-column: 1/4;
    grid-row: 1;
}

body > div{
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    padding-right: 1em;
    height: fit-content;
    margin: auto;
}

body > div a{
    text-decoration: none;
}

/*****************************/
/* Header styling */
/*****************************/

body > nav{
    margin: auto;
    text-decoration: none;
    color: var(--color-text-2);
}

body > nav p{
    display: inline;
    margin: 0;
}

body > nav ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

body > nav ul a{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1.5em 1em;
}

body > nav ul svg{
    width: 1em;
    height: 1em;
}

/* mobiel en tablet */
@media only screen and (max-width: 768px){
    body > nav{
        position: sticky;
        bottom: 0;
        grid-column: 1/4;
        grid-row: 3;
        width: 100%;
        z-index: 1;
        background-color: var(--color-surface-1);
        box-shadow: -0.5em 0 1em -0.5em var(--color-surface-3);
    }

    body > nav ul{
        gap: 0;
        justify-content: space-around;
    }
}

/* mobiel */
@media only screen and (max-width: 500px){
    body > nav p{
        display: none;
    }
}